DB_HOST=127.0.0.1
DB_USER=database_user
DB_NAME=database_name
DB_PASS=database_password
DB_PORT=5432
PORT=3000
PUBLIC_WS_URL=websocket_url
PUBLIC_WS_PORT=websocket_port
API_SERVER=http://url_of_server/
BRANCH_ID=1
SET_HTTPS=0
COMPANY_ID=1